.moac {
  width: 100%;
  height: 100vh;
  display:flex;
  align-content: center;
}

.App {
  text-align: center;
  background-color: #282c34;
  height: 600px;
  width: 450px;
  display: flex;
  flex-flow: column;
  border: 2px solid #282c34;
  border-radius: 15px;
  margin: auto;
  
}

.chatWindow {
  display:flex;
  flex-flow: column;
  width: 450px;
}

.btn-cont {
  background-color: #282c34;
  display: flex;
  flex-flow: row-reverse;
  border-radius: 15px;
  justify-content: space-evenly;
}

.btn-std {
  width: 120px;
  height: 35px;
  background-color: #b12d2d;
  color: white;
  margin: 5px;
  border: none;
  border-radius: 40px
}
.btn-login {
  height: 25px;
  margin-left: 12px;
}
.btn-std:hover {
  cursor: pointer;
}

.chat {
  text-align: center;
  background-color: #282c34;
  height: 495px;
  width: 450px;
  display: flex;
  flex-flow: column;
/*   justify-content: flex-end;
  align-content: flex-start; */
  overflow: auto;
  border-radius: 15px;

}

.loginScreen {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}
.form-login {
  margin-top: 75px;
}
.title-login {
  margin: 35px;
  font-size: 42px;
  color: #b12d2d;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  /* border: 1px solid white; */
  border-radius: 15px;
}

.count {
  color: white;
  margin: 0px;
}

.words {
 
  color: white;
}

.foot-info {
  color: white;
  position: absolute;
  top: 560px;
  right: 10px;
  font-style: italic;
}

.listItem {
  list-style: none;
  text-align: left;
  color: white;
}

